/* css footer */
footer {
    background: linear-gradient(to right, #6B83C3, #433DD5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    gap: 20px;
}
footer h3{
    align-self: center;   
}
.footer-arriba {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
  
  .logo_footer {
    width: clamp(100px, 20vw, 200px);
    max-width: 200px;
    height: auto;
    display: block;
  }
  .redes-sociales {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end; 
    gap: 10px;
  }
.redes-sociales div {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}
.redes-sociales div img {
    width: 80px;
    height: auto;
}
.the-cabros {
    background-color: rgb(67, 61, 213);
    padding: 10px;
    width: 100%;
    text-align: left;
    align-items: end;
}
.the-cabros h6{
    font-weight: 300; 
}