.info_cabros {
    display: flex;              
    align-items: center;        
    gap: 20px;     
    width: 100%;                 
  }
  
  .info_cabros img {
    width: 40%;  
    padding: 150px;             
  }
  
  .info_cabros p {
    flex: 1;                    
    margin: 0;                  
    text-align: center;
    margin-bottom: 10px;
  }
  .integrante
  {
    background-color: gray;
  }

.integrantes_cabros h2{
    text-align: center;
}
.integrantes_cabros img{
    width: 20%;
}