
html, body{
    height: 100%;
    margin: 0;
    font-family: 'lato';
}
body{
display: flex;
flex-direction: column;
min-height: 100%;
color: rgb(7, 2, 63);
}
main{
    flex: 1;
    padding-bottom: 150px;
}
.logo {
    width: clamp(100px, 20vw, 200px);
    max-width: 200px;
    height: auto;
    display: block;
}

a{
    font-size: 22px;
    text-decoration: none;
    list-style: none;
    color: #6F85C6;
}
/* nav header */
header { 
    background: linear-gradient(to bottom, #cedcff, #F0F0F0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}

/* Botón hamburguesa (oculto) */
.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #433DD5;
    margin-left: auto;
}

/* Estilo  menú */
nav ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    
    position: absolute;
    bottom: 0;
    right: 0;
}

nav ul li {
    padding: 10px;
    font-weight: bold;
}

/* Estilo móvil */
@media (max-width: 800px) {

    .menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        top: 100%; 
        right: 20px;
        width: 200px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        padding: 10px;
    }

    nav ul.active {
        display: flex;
    }
}
/* informacion banner */
.banner{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.banner img{
    height: auto;
    display: block;
    width: 100%
}
.texto_banner{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;            
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(2rem, 12vw, 200px);
    text-align: center;
    padding: 0 1rem;
    opacity: 80% ;
}
/* css informacion empresa */
.texto_agencia{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    max-width: 800px;
    margin: 20px auto;
    font-weight: 300;
    padding: 50px;
}
.alinear_h5 {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.alinear_h5 h5{
    background-color: rgb(64, 51, 175); 
    color: white; 
    padding: 10px; 
    border-radius:20px;
    width: 150px;
}
/* css mosaico/ portafolio */
.mosaico img {
    width: 20%;
    height: auto;
    object-fit: cover;
    display: block;
}
/* css colaboraciones exitosas */
.colaboraciones{
    padding: 80px;
}
.logos_empresas img {
    width: 150px;
    padding: 20px;
}
/* css footer */
footer {
    background: linear-gradient(to right, #6B83C3, #433DD5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
footer h3{
    align-self: center;
    
}
.footer-arriba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
}

.logo_footer {
    width: clamp(100px, 20vw, 200px);
    max-width: 200px;
    height: auto;
}

.redes-sociales {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 10px;
}

.redes-sociales div {
    display: flex;
    gap: 10px;
}
.redes-sociales div img {
    width: 80px;
    height: auto;
}

.the-cabros {
    background-color: rgb(67, 61, 213);
    padding: 10px;
    width: 100%;
    text-align: left;
    align-items: end;
}
.the-cabros h6{
    font-weight: 300; 
}
/* css seccion contactanos */
.formulario_contactanos{
    background-color: aquamarine;
}
.email_contacto_empleo{
   background-color: brown;
   padding: 20px;
}
.boton{
    background-color: rgb(64, 51, 175); 
    padding: 15px; 
    border-radius:50px;
    width: 50%;
    text-align: center;
}
.boton h3{
    color: white;
}
.collage {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 90vw;
}
/* css collage */
.collage img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}
